<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378936623049-2fenfr6i6d1t6fa6kgk1gbh7abmum4ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378936623049-2fenfr6i6d1t6fa6kgk1gbh7abmum4ln</string>
	<key>API_KEY</key>
	<string>AIzaSyDTtj0fED9WT_4RIN5dvcvTP6X_UfyNEQU</string>
	<key>GCM_SENDER_ID</key>
	<string>378936623049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamajo.ajo</string>
	<key>PROJECT_ID</key>
	<string>ajo-app-3eobyc</string>
	<key>STORAGE_BUCKET</key>
	<string>ajo-app-3eobyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378936623049:ios:8fc5564dce6bbc24117218</string>
</dict>
</plist>